{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div>
  <h2>Nhập thông tin sinh viên</h2>
  <form method="post" action="{{ url_for('create_student_form') }}">
    {% if is_error %}
      <p class="text-danger">
          {{ errors.msg }}
      </p>
    {% endif %}
    <div class="form-group">
      <label for="username">Tên đăng nhập</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
      />
    </div>
    <div class="form-group">
      <label for="firstName">Tên sinh viên</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="first_name"
        required
      />
    </div>
    <div class="form-group">
        <label for="lastName">Họ sinh viên</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="last_name"
          required
        />
      </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="subject">Khoa:</label>
      <select class="form-control" id="department" name="department" required>
        {% for department in departments %}
          <option value="{{ department.id }}">{{ department.name }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Tạo sinh viên</button>
  </form>
</div>
{% endblock %}
