{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div class="container mt-4">
    <h2>Danh sách sinh viên</h2>
    <a href="{{ url_for('create_student') }}" class="btn btn-primary mb-2">Tạo sinh viên mới</a>
    <!-- <form action="{{ url_for('create_student') }}" method="get" class="form-inline">
        
        <div class="form-group mx-sm-3 mb-2">
            <label for="username" class="sr-only">Tên:</label>
            <input type="text" class="form-control" id="search" name="search">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
        
    </form> -->

    <table class="table">
        <thead>
        <tr>
            <th>Mã</th>
            <th>Email</th>
            <th>Tên</th>
            <th>Họ</th>
            <th>Khoa</th>
            <th>Tốt nghiệp</th>
            <th>Kích hoạt</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.user.code }}</td>
                <td>{{ item.user.email }}</td>
                <td>{{ item.user.first_name }}</td>
                <td>{{ item.user.last_name }}</td>
                <td>{{ item.department.name }}</td>
                <td>
                    {% if item.student.is_graduated %}
                        <i class="bi bi-check-circle text-success"></i>
                    {% else %}
                        <i class="bi bi-x-circle text-danger"></i>
                    {% endif %}
                </td>
                <td>
                    {% if item.student.is_activate %}
                        <i class="bi bi-check-circle text-success"></i>
                    {% else %}
                        <i class="bi bi-x-circle text-danger"></i>
                    {% endif %}
                </td>
                <td><a class="btn btn-primary" href="{{ url_for('update_student', id=item.user.id) }}">Chỉnh sửa</a></td>
                <td><a class="btn btn-primary" href="{{ url_for('list_student_subject', id=item.student.id) }}">Môn đã học</a></td>
                <td><a class="btn btn-primary" href="{{ url_for('subject_register', studentID=item.user.id) }}">Đăng ký môn</a></td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
