{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div class="container mt-4">
    <h2>Danh sách môn của sinh viên</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Mã môn</th>
            <th>Tên môn</th>
            <th>Điểm</th>
            <th>Ghi chú</th>
        </tr>
        </thead>
        <tbody>
        {% for subject, student_subject, student, department in data %}
            {% if student_subject.grade %}
            <tr>
                <td>{{ subject.codename }}</td>
                <td>{{ subject.name}}</td>
                {% if student_subject.grade < 4 %}
                    <td class="text-danger">{{ student_subject.grade}}</td>
                {% else %}
                    <td class="text-success">{{ student_subject.grade}}</td>
                {% endif %}
                <td>{{ student_subject.note}}</td>
            </div>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
