{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div>
  <h2>Cập nhật thông tin sinh viên {{ data.user.username }}</h2>
  <form method="post" action="{{ url_for('update_student_form', id=data.user.id) }}" enctype="multipart/form-data">
    {% if is_error %}
      <p class="text-danger">
          {{ errors.msg }}
      </p>
    {% endif %}
    <div class="form-group">
      <label for="first_name">Tên sinh viên:</label>
      <input
        class="form-control"
        id="first_name"
        name="first_name"
        required
        value="{{ data.user.first_name }}"
      />
    </div>
    <div class="form-group">
        <label for="last_name">Họ sinh viên:</label>
        <input
          class="form-control"
          id="last_name"
          name="last_name"
          required
          value="{{ data.user.last_name }}"
        />
    </div>
    {% if data.student.profile_image_url %}
      <img src="{{data.student.profile_image_url}}" alt="prfileImage" />
    {% endif %}
    <div class="form-group">
      <label for="file">Ảnh hồ sơ:</label>
      <input type="file" name="file" id="file">
    </div>

    <div class="form-group">
      <label for="department">Khoa:</label>
      <select class="form-control" id="department" name="department" required value="{{ data.department.id }}">
        {% for department in departments %}
          <option value="{{ department.id }}">{{ department.name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePopup">
      Xóa
    </button>
  </form>

<!-- Modal -->
<div class="modal" id="deletePopup">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Khóa sinh viên {{ data.user.username }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                Bạn có muốn khóa sinh viên này?
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="submitForm()">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>


<form id="deleteForm" method="post" action="{{ url_for('delete_student_form', id=data.user.id) }}"></form>
</form>
</div>

<script>
  function submitForm() {
      // Get the form element by ID
      var form = document.getElementById('deleteForm');

      // Check if the form is found
      if (form) {
          // Submit the form
          form.submit();
      }
  }
</script>

{% endblock %}
