{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div>
  <form action="{{ url_for('subject_register_form', studentID=student_id) }}" method="post">
    <h3 class="mb-2">Đăng ký môn</h3>
    <div class="form-group">
      <label for="department">Khoa của sinh viên: </label>
      <input
        type="text"
        class="form-control"
        id="department"
        name="department"
        value="{{ departmentName }}"
        readonly="readonly"
      />
    </div>
    <div class="form-group">
      <h4>Môn học:</h4>
      {% for subject, student_subject, student, department in subjects %}
        {% if not student_subject.grade or student_subject.grade < 4 %}
          <div>
            <input
              type="checkbox"
              id="checkbox_{{ subject.id }}"
              value="{{ subject.id }}"
              name="subjectID"
            />
            <label for="checkbox_{{ subject.id }}">Môn {{subject.name}} - {{ subject.credit }} tín chỉ</label>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary text-center mx-auto">
      Đăng ký môn
    </button>
  </form>
</div>
{% endblock %}
