{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div>
  <h2>Tạo môn học</h2>
  <form method="post" action="{{ url_for('create_subject_form') }}">
    {% if is_error %}
      <p class="text-danger">
          {{ errors.msg }}
          <ul class="list-group">
            {% if errors.name %}
              <li class="list-group-item text-danger">{{ errors.name }}</li>
            {% endif %}
        </ul>
      </p>
    {% endif %}
    <div class="form-group">
      <label for="name">Tên môn học:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        required
      />
    </div>
    <div class="form-group">
      <label for="codename">Tên mã:</label>
      <input
        type="text"
        class="form-control"
        id="codename"
        name="codename"
        required
      />
    </div>
    <div class="form-group">
      <label for="credit">Số tín chỉ:</label>
      <input
        class="form-control"
        id="credit"
        name="credit"
        type="number"
        required
      />
    </div>
    <div class="form-group">
      <label for="subject">Khoa:</label>
      <select class="form-control" id="department" name="department" required>
        {% for department in departments %}
          <option value="{{ department.id }}">{{ department.name }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Tạo môn học</button>
  </form>
</div>
{% endblock %}
