{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div class="container mt-4">
    <h2>Danh sách Môn học</h2>
    <a href="{{ url_for('create_subject') }}" class="btn btn-primary my-4">Tạo môn học mới</a>
    <table class="table">
        <thead>
        <tr>
            <th>Mã hiệu môn</th>
            <th>Tên môn</th>
            <th>Số tín chỉ</th>
            <th>Tên khoa</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.subject.codename }}</td>
                <td>{{ item.subject.name }}</td>
                <td>{{ item.subject.credit }}</td>
                <td>{{ item.department.name }}</td>
                <td><a class="btn btn-primary" href="{{ url_for('update_subject', id=item.subject.id) }}">Chỉnh sửa</a></td>
                <td><a class="btn btn-primary" href="{{ url_for('get_subject_detail', id=item.subject.id) }}">Sinh viên</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
