{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<h1>Môn {{ subject.name }} - Danh sách sinh viên</h1>
<ul>
    <table class="table">
        <thead>
        <tr>
            <th>Tên sinh viên</th>
            <th>Điểm</th>
            <th>Ghi chú</th>
        </tr>
        </thead>
        <tbody>

        {% for subject, student_subject, student in data %}
            <tr>
                <td>{{ student.name }}</td>
                <td>
                    {% if student_subject.grade %}
                        {{ student_subject.grade }}
                    {% else %}
                        Chưa có điểm
                    {% endif %}
                </td>
                <td>{{ student_subject.note }}</td>
                <td><a class="btn btn-primary" href="{{ url_for('update_student_grade', student_id=student.id, subject_id=subject.id) }}">Cập nhật điểm</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</ul>

</div>
{% endblock %}
