{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div>
  <h2>Cập nhật môn {{ data.subject.name }}</h2>
  <form method="post" action="{{ url_for('update_subject_form', id=data.subject.id) }}">
    {% if is_error %}
      <p class="text-danger">
          {{ errors.msg }}
      </p>
    {% endif %}
    <div class="form-group">
      <label for="name">Tên khoa:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        required
        value="{{ data.subject.name }}"
      />
    </div>
    <div class="form-group">
      <label for="codename">Tên mã:</label>
      <input
        class="form-control"
        id="codename"
        name="codename"
        required
        value="{{ data.subject.codename }}"
      />
    </div>
    <div class="form-group">
      <label for="credit">Số tín chỉ:</label>
      <input
        class="form-control"
        id="credit"
        name="credit"
        type="number"
        required
        value="{{ data.subject.credit }}"
      />
    </div>
    <div class="form-group">
      <label for="department">Khoa:</label>
      <select class="form-control" id="department" name="department" required value="{{ data.department.id }}">
        {% for department in departments %}
          <option value="{{ department.id }}">{{ department.name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePopup">
      Xóa
    </button>
  </form>

<!-- Modal -->
<div class="modal" id="deletePopup">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Xóa khoa {{ data.subject.codename }} - {{ data.subject.name }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                Bạn có muốn xóa môn này?
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="submitForm()">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>


<form id="deleteForm" method="post" action="{{ url_for('delete_subject_form', id=data.subject.id) }}"></form>
</form>
</div>

<script>
  function submitForm() {
      // Get the form element by ID
      var form = document.getElementById('deleteForm');

      // Check if the form is found
      if (form) {
          // Submit the form
          form.submit();
      }
  }
</script>

{% endblock %}
