{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<h1 class="mb-4">Cập Nhật Điểm Sinh Viên</h1>

<form action="{{ url_for('update_student_grade_form', student_id=student_id, subject_id=subject_id) }}" method="post">
    {% if is_error %}
      <p class="text-danger">
          {{ errors.msg }}
          <ul class="list-group">
            {% if errors.name %}
              <li class="list-group-item text-danger">{{ errors.name }}</li>
            {% endif %}
        </ul>
      </p>
    {% endif %}
    <div class="form-group">
        <label for="grade">Điểm:</label>
        <input type="number" class="form-control" name="grade" id="grade" required value="{{student_subject.grade}}">
    </div>

    <div class="form-group">
        <label for="note">Ghi chú:</label>
        <textarea class="form-control" name="note" id="note" rows="4" value="{{student_subject.note}}"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Cập Nhật</button>
</form>
{% endblock %}
