{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div>
  <h2>Tạo Khoa</h2>
  <form method="post" action="{{ url_for('create_department_form') }}">
    {% if is_error %}
      <p class="text-danger">
          {{ errors.msg }}
          <ul class="list-group">
            {% if errors.name %}
              <li class="list-group-item text-danger">{{ errors.name }}</li>
            {% endif %}
            {% if errors.codename %}
              <li class="list-group-item text-danger">{{ errors.codename }}</li>
            {% endif %}
        </ul>
      </p>
    {% endif %}
    <div class="form-group">
      <label for="name">Tên khoa:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        required
      />
    </div>
    <div class="form-group">
      <label for="codename">Tên mã:</label>
      <input
        class="form-control"
        id="codename"
        name="codename"
        required
      />
    </div>
    <div class="form-group">
      <label for="required_credit">Tổng sổ tín chỉ:</label>
      <input
        class="form-control"
        id="required_credit"
        name="required_credit"
        type="number"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Tạo Khoa</button>
  </form>
</div>
{% endblock %}
