{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div class="container mt-4">
    <h2>Danh sách khoa</h2>
    <a href="{{ url_for('create_department') }}" class="btn btn-primary my-4">Tạo Khoa mới</a>
    <table class="table">
        <thead>
        <tr>
            <th>Mã khoa</th>
            <th>Mã hiệu</th>
            <th>Tên khoa</th>
            <th>Tổng tín chỉ</th>
        </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td>{{ department.code }}</td>
                <td>{{ department.codename }}</td>
                <td>{{ department.name }}</td>
                <td>{{ department.required_credit }}</td>
                <td><a class="btn btn-primary" href="{{ url_for('update_department', id=department.id) }}">Chỉnh sửa</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
