{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<h2>Đã xảy ra lỗi</h2>
<div class="alert alert-danger" role="alert">
    {{ msg }}
</div>
<a href="{{ back_url }}" class="btn btn-primary">Quay lại</a>
<!-- Your Home Page Content Goes Here -->
{% endblock %}