{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<header class="bg-primary text-white text-center py-5">
    <h1 class="display-4">Phần Mềm Quản Lý Sinh Viên</h1>
    <p class="lead">Quản lý thông tin sinh viên một cách hiệu quả và tiện lợi.</p>
</header>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Đặc Điểm</h2>
            <ul>
                <li>Quản lý thông tin cá nhân của sinh viên</li>
                <li>Ghi chú và cập nhật điểm một cách nhanh chóng</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Tính Năng</h2>
            <ul>
                <li>Thêm, sửa, xóa thông tin sinh viên</li>
                <li>Thêm, sửa, xóa môn học cho sinh viên</li>
                <li>Cập nhật điểm và ghi chú</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
