{% extends "base.html" %} 
{% block title %}Account Actiivation{% endblock %} 
{% block content %}
<div class="container mt-4">
    {% if is_error %}
        <h2 class="text-danger">
            {{ errors.msg }}
        </h2>
    {% endif %}

    {% if is_activated %}
        <h2>Tài khoản đã được kích hoạt với mật khẩu mới</h2>
    {% else %}
        <h2>Kích hoạt tài khoản</h2>

        <form method="POST" action="{{ url_for('activate_user_form', activation_code=activation_code) }}" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="password">Mật khẩu mới:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <div class="form-group">
                <label for="confirm_password">Xác nhận mật khẩu:</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                <small id="passwordMismatch" class="form-text text-danger" style="display: none;">Mật khẩu không khớp</small>
            </div>

            <button type="submit" class="btn btn-primary">Kích hoạt tài khoản</button>
        </form>
    {% endif %}
</div>


<script>
    function validateForm() {
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirm_password').value;

        if (password !== confirmPassword) {
            // Display error message
            document.getElementById('passwordMismatch').style.display = 'block';
            return false; // Prevent form submission
        } else {
            // Hide error message
            document.getElementById('passwordMismatch').style.display = 'none';
            return true; // Allow form submission
        }
    }
</script>
{% endblock %}