<p>Xin chào {{ username }},</p>

<p>Chúc mừng vì đã trở thành một thành viên mới. Vui lòng click vào link bên dưới để kích hoạt tài khoản:</p>

<p><a href="{{ activation_link }}" target="_blank">{{ activation_link }}</a></p>

<p>Link kích hoạt sẽ hết hạn sau 24h.<br/>
    Nếu bạn không đăng ký, vui lòng bỏ qua email này</p>

<p>Trân trọng</p>